body {
  background-color: rgb(245, 239, 226);
  color: rgb(78, 78, 78);
  font-family: "courier new";
  font-size: 19px;
  margin: 0 auto;
  max-width: 750px;
  padding-left: 20px;
  padding-right: 20px;
  
    
}


.main-navigation ul {
  padding: 0px;
}
  .main-navigation li {
    display: inline-block;
    border: 1px solid;
    border-radius: 2px;
    list-style: none;
    width: 30%;
  }

  .main-navigation a {
    display: block;    
    padding: 15px 0px;
    text-align: center;
    text-decoration: none;    
  }

  .main-navigation a:visited {
    color: #919191;
  }
  .main-navigation a:hover {
    background-color: rgb(150, 150, 150);
    color: #E7E7E7;
    transition: .5s background-color;
  }

